.contenedorSobre {
    background-color: rgb(250, 239, 217);
    background-position: center;
}

.h1mot {
    color: #344893;
    text-align: center;
    text-shadow: 5px 5px 12px #e1b735;

}

.divsobre {
    text-align: center;
    font-size: larger;
    background-position: center;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "didot gfs";
    color: #2a3d81;
}

.imgsobre {
    background-position: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 70%;
    width: 60%;
    border: 2px solid #e1b735;
}

@media only screen and (max-width: 570px) {
    .contenedorSobre{padding-top: 20px}
    .h1mot{font-size: 40px;    }
}