* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #faefd9;
}

header {
  background-color: #faefd9;
  width: 100%;
  height: 160px;
}

nav {
  width: cover;
  height: 100%;
  text-align: left;
  color: #e4d9fa;
}

main {
  background-color: #faefd9;
}

#ulpad {
  padding-top: 3%;
}

ul {
  list-style: none;
  background-color: #faefd9;
  border: 4px solid #faefbc;
  font-family: "gfs didot";
  text-align: center;
}

li {
  font-size: 25px;
}

li a {
  text-decoration: none;
  color: #344893;
  text-shadow: 0px 0px 10px #bda51c;
}

li a:hover {
  color: orange;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
}

.subitem {
  text-align: left;
  display: inline-block;
  font-size: 20px;
  width: 300px;
}

h1 {
  color: #344893;
  font-family: "gfs didot";
  font-size: 300%;
  text-align: center;
  padding-top: 16px;
  text-shadow: 5px 5px 5px #ccc;
}

#divhome {
  text-align: center;
}

#imghome {
  height: 50%;
  width: 40%;
  border: 2px solid #e1b735;
}

.h1home {
  padding-top: 5%;
}

.div2home {
  height: 100%;
  width: 80%;
  margin: auto;
  background-color: #faefd9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.fop1 {
  height: 350px;
  width: 350px;
}

.fop2 {
  height: 350px;
  width: 350px;
}

.fop1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-filter: opacity(1);
          filter: opacity(1);
  -webkit-box-shadow: 5px 5px 10px 1px #000;
          box-shadow: 5px 5px 10px 1px #000;
}

.fop2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-filter: opacity(1);
          filter: opacity(1);
  -webkit-box-shadow: 5px 5px 10px 1px #000;
          box-shadow: 5px 5px 10px 1px #000;
}

.footer {
  background-color: #faefd9;
}

.redes {
  height: 70%;
  width: 30%;
  margin: auto;
  background-color: #faefd9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  list-style: none;
  position: relative;
}

@media only screen and (max-width: 570px) {
  #imghome {
    margin-bottom: 50px;
  }
  .h1home {
    font-size: 40px;
  }
  .mainhome {
    padding-top: 270px;
  }
  #imghome {
    height: 100%;
    width: 70%;
  }
}

/*-----------------SOBRE LLUME------------------*/
.contenedorSobre {
  background-color: #faefd9;
  background-position: center;
}

.h1mot {
  color: #344893;
  text-align: center;
  text-shadow: 5px 5px 12px #e1b735;
}

.divsobre {
  text-align: center;
  font-size: larger;
  background-position: center;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "didot gfs";
  color: #2a3d81;
}

.imgsobre {
  background-position: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  height: 70%;
  width: 60%;
  border: 2px solid #e1b735;
}

@media only screen and (max-width: 570px) {
  .contenedorSobre {
    padding-top: 20px;
  }
  .h1mot {
    font-size: 40px;
  }
}

/*------------------EXPERIENCIAS----------------*/
.main1 {
  background-color: #faefd9;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#contenedorExper {
  background-position: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "didot gfs";
  font-size: larger;
  color: #2a3d81;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.h1mot {
  color: #344893;
  text-align: center;
  text-shadow: 2px 2px 6px #e1b735;
}

@media only screen and (max-width: 570px) {
  .main1 {
    padding-top: 20px;
  }
  .h1mot {
    font-size: 40px;
  }
}

/*-------------------MOTIVACIONES---------------*/
.main1 {
  background-color: #faefd9;
  background-position: center;
  background-size: cover;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.h1mot {
  color: #344893;
  text-align: center;
  margin-bottom: 35px;
  text-shadow: 5px 5px 12px #e1b735;
}

.parrafoMotivaciones {
  font-size: 25px;
  background-color: #faefd9;
  text-align: center;
  font-size: larger;
  background-position: center;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "didot gfs";
  color: #2a3d81;
}

.carousel {
  text-align: center;
  background-position: center;
}

.carousel-item {
  margin-top: 35px;
  margin-bottom: 35px;
}

/*-------------------CONTACTO-------------------*/
.div--background {
  background-color: #faefd9;
}

.h1mot {
  text-align: center;
  background-color: #faefd9;
  color: #344893;
  text-align: center;
  margin-bottom: 35px;
  text-shadow: 5px 5px 12px #e1b735;
  padding-top: 20px;
  font-size: 40px;
}

input {
  -webkit-transition: all 2s;
  transition: all 2s;
}

input:focus {
  font-size: 15px;
  border: 5px solid #faefd9;
  color: #7a5408;
}

.contenedorform {
  height: auto;
  background-color: #faefd9;
  border: 2px solid #e1b735;
  width: 80%;
  margin: auto;
  padding: 2%;
  text-align: center;
}

@media only screen and (max-width: 570px) {
  .div--background {
    padding-top: 20px;
  }
  .h1mot {
    padding-top: 270px;
    font-size: 40px;
  }
}

/*-------------------404-------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main404 {
  background-color: #faefd9;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-family: "gfs didot";
}

.h1404 {
  font-size: 85px;
  color: #344893;
}

.h2404 {
  font-size: 165px;
  color: #344893;
}

.h6404 {
  font-size: 40px;
}

.h6404:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-filter: opacity(1);
          filter: opacity(1);
  -webkit-box-shadow: 5px 5px 10px 1px #000;
          box-shadow: 5px 5px 10px 1px #000;
}

.h3404 {
  font-size: 30px;
  color: #e1b735;
}
/*# sourceMappingURL=estilos.css.map */